/* Move down content because we have a fixed navbar that is 50px tall */

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700italic,700,400italic,300italic,300);

/*jubotron theme*/
body {
  padding-top: 50px;
}

.jumbotron {
  background: url('images/sunflower.jpg') center top; 
  background-size: cover;
  height: 310px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below jumbotron */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* my css */

nav.navbar {border-bottom: 3px solid #ff7e00;}


.marketing {margin-top: -110px;}

.col-lg-4 {width: 100%;}

.bio-container {
  max-width: 730px;
  font-family: 'Merriweather', Helvetica, sans-serif;

}

footer {
  background: url('images/sunflower.jpg') center top; 
  background-size: cover;
  height: 310px;
}

